body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 97vh; 
  margin-left: 5vw;
  margin-right: 5vw;
}

#chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1; /* Take up all available space */
}

.user-message-bubble {
  position:relative;
  background-color: #DCF8C6; /* Light green, similar to WhatsApp */
  max-width: 70%; /*The maximum width will not exceed 70% of the width of the parent element*/
  width: fit-content; /* The width will be as wide as the content inside */
  margin: 5px;
  margin-left: auto; /* Align to the right */
  padding: 10px;
  border-radius: 10px; /* Border rounded corners */
  word-wrap: break-word; /* Prevent text from overflowing */
  display: block; /* Make elements appear as blocks */
  text-align: right; /* Align text to the right */
}

.user-message-bubble::after {
  content: "";
  position: absolute;
  width:0;
  height:0;
  top: 50%;
  transform:translateY(-50%);/* Move it up by half its height */
  right:-15px;
  border: 10px solid transparent;
  border-left-color: #DCF8C6; /* Same color as the container background */
}

.chatbot-message-bubble {
  position:relative;
  background-color: #F1F1F1; 
  max-width: 70%; /*The maximum width will not exceed 70% of the width of the parent element*/
  width: fit-content; /* The width will be as wide as the content inside */
  margin: 5px;
  margin-right: auto; /* Align to the left */
  padding: 10px;
  border-radius: 10px; /* Border rounded corners */
  word-wrap: break-word; /* Prevent text from overflowing */
  display: block; /* Make elements appear as blocks */
  text-align: left; /* Align text to the left */
}

.chatbot-message-bubble::after {
  content: "";
  position: absolute;
  width:0;
  height:0;
  top: 50%;
  transform:translateY(-50%);/* Move it up by half its height */
  left:-15px;
  border: 10px solid transparent;
  border-right-color: #F1F1F1; /* Same color as the container background */
}

.message-text {
  color: black; 
}

#bottom-container {
  display: flex;
  flex-direction: column;
}

#input-area {
  display: flex;
  justify-content: space-between; /* Align elements to the left and right */
  align-items: center; /* Align elements vertically */
  margin-top: 10px;
}

#image-button {
  width: 30px; 
  height: 40px; 
  margin-right: 10px;
  font-size:30px;
  line-height:40px; /* Set the row height to be the same as the button */
  background-color: transparent;
  border: none;
  padding: 0;
  overflow:hidden;
  vertical-align: middle;
  cursor:pointer;
}

#message-input {
  flex-grow: 1; /* Take up all available space */
  margin: 0 10px; /* Add some space between the input and the button */
  resize: none; /* Prevent users from manually changing the size */
  overflow-y: auto; /* Show scrollbar when there is too much content */
  max-height: 200px; /* Set maximum height */
}

#send-button {
  width: 80px;
  height:40px;
}

footer {
  color: gray;
  text-align: center;
  margin-top: 10px;
  display: block;
}